# ANALYSIS 2 

# As per User input retrieving the best rated restaurant details

### ALL REQUIRED IMPORTS

In [2]:
import string
import csv, sys
from pandas import Series, DataFrame
import pandas as pd
import os
import glob
from os.path import basename
import fnmatch
import json
import nltk
from pprint import pprint

In [3]:
directory = os.path.dirname(os.getcwd()) 
#path =  directory + '/data/'
path= "/Users/sonalichaudhari/Desktop/FINAL_Python/data/"
path

'/Users/sonalichaudhari/Desktop/FINAL_Python/data/'

In [7]:
input_var = input("Enter CITY: ")
print (input_var)

Enter CITY: mumbai
mumbai

In [8]:
cuisines = {}
set = []
temp =[]
r= 0 
cur_path = "/Users/sonalichaudhari/Desktop/FINAL_Python/data/"
for subdir, dirs, files in os.walk(cur_path):
    #for folder in os.listdir(cur_path):
            #print(folder)
        for file in files:
            if file.endswith('.json'):
                #print(file)
                reqpath = subdir+'/'+file 
                #print(reqpath)
                with open(reqpath) as json_file:
                    
                    d = json.load(json_file)
                   
                    city = d['restaurant']['location']['city'].lower()
                    if city == input_var.lower():
                        temp.append(d)
                        r = r+1
                        cuis = d['restaurant']['cuisines'].split(',')
                        #print(type(d['restaurant']['R']['res_id']))
                        for x in cuis:       
                            t = x.strip() #Use of nltk to eliminate blank spaces
                            if t not in cuisines:
                                cuisines[t]={}
                                cuisines[t][d['restaurant']['R']['res_id']]=float(d['restaurant']['user_rating']['aggregate_rating'])
                                set.append(t)
                            else:
                                cuisines[t][d['restaurant']['R']['res_id']]=float(d['restaurant']['user_rating']['aggregate_rating'])

In [27]:
with open('/Users/sonalichaudhari/Desktop/FINAL_Python/csv/ANA_2.csv', 'a') as csvfile:    
    fieldnames = ['RES_ID', 'Name','CUSINES','USER RATING','VOTES',\
                 'RATING TEXT','LATITUDE','LONGITUDE','AVG COST for TWO','CURRENCY']#Naming the title Row of the CSV
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    for j in range(len(temp)-1):
        list_item =[]
        list_item = temp[j]['restaurant']['cuisines'].split(',')
        for x in range(len(list_item)-1):
            r = temp[j]['restaurant']['R']['res_id']
            n = temp[j]['restaurant']['name']
            cu= list_item[x].strip()
            u = temp[j]['restaurant']['user_rating']['aggregate_rating']
            v = temp[j]['restaurant']['user_rating']['votes']
            rt= temp[j]['restaurant']['user_rating']['rating_text']
            la= temp[j]['restaurant']['location']['latitude']
            lo= temp[j]['restaurant']['location']['longitude']
            avg=temp[j]['restaurant']['average_cost_for_two']
            cur=temp[j]['restaurant']['currency']
            writer.writerow({'RES_ID':r, 'Name':n,'CUSINES':cu,'USER RATING':u,'VOTES':v,\
                 'RATING TEXT':rt,'LATITUDE':la,'LONGITUDE':lo,'AVG COST for TWO':avg,'CURRENCY':cur})

In [28]:
t = pd.read_csv('/Users/sonalichaudhari/Desktop/FINAL_Python/csv/ANA_2.csv').reset_index(0,drop=True)
t.head(3)

,RES_ID,Name,CUSINES,USER RATING,VOTES,RATING TEXT,LATITUDE,LONGITUDE,AVG COST for TWO,CURRENCY
0,18233317,145 Kala Ghoda,Fast Food,4.2,1606,Very Good,18.927584,72.832585,1500,Rs.
1,18233317,145 Kala Ghoda,Beverages,4.2,1606,Very Good,18.927584,72.832585,1500,Rs.
2,18435740,38 Degree East,North Indian,3.8,181,Good,19.121999,72.908493,1000,Rs.

In [91]:
from geopy.distance import vincenty
newport_ri = (41.49008, -71.312796)
cleveland_oh = (41.499498, -81.695391)
print(vincenty(newport_ri, cleveland_oh).miles)
538.3904451566326

538.3904451566326

538.3904451566326